body {
    background-color: rgb(105, 173, 114) !important;
    color: blue;
    /* background-image: url(../img/correios.png); */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.mapa {
    margin-top: 30px;
}

.imag {
    text-align: center;
    width: 200px;
    height: auto;
}

.imag-maps {
    text-align: center;
    width: 80px;
    height: auto;
}